# ambiente
.venv/
*.pyc
__pycache__/
*.pyo

# Django
*.log
db.sqlite3
media/
staticfiles/

# ambiente local
.env

# IDE
.vscode/
.idea/
*.swp

# pytest
.pytest_cache/
.coverage
htmlcov/

# ruff
.ruff_cache/

# OS
.DS_Store
Thumbs.db

# dados locais
*.xlsx
*.zip
*.csv
